# https://restic.readthedocs.io/en/latest/040_backup.html#environment-variables

RESTIC_REPOSITORY=s3:https://s3.hostname/bucket-name
AWS_ACCESS_KEY_ID=123abc
AWS_SECRET_ACCESS_KEY=zyx987
RESTIC_PASSWORD=restic-repository-password
